.topnav{
    width: 100%;
    height: 20%;
    position: relative;
    
}

ul {
    list-style-type: none;
    margin: 2px;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
    top:0px;    
}

.navbutton a{
    padding: 10px;
    float: right;
    
}

.topnav a:hover {
    background-color: #111;
}

.sidebar {
    top:0; bottom:0; left:0;
    width:11%;
    background: #ddd;
    position: fixed;
}

